<template>
    <v-container
            fluid
            fill-height
            grid-list-xs
    >
        <v-layout row wrap>
            <v-flex xs12 class="recipe-view">
                <transition-group
                        tag="div"
                        name="slide-y-transition"
                        class="layout row wrap justify-center align-content-start mx-4 space">
                    <v-flex
                            xs10
                            md5
                            lg4
                            class="pa-2"
                            v-for="(recipe, i) in current"
                            :key="recipe._id"
                    >
                        <RecipeTile
                                :title="recipe.title"
                                :favourite="recipe.favourite"
                                :image="recipe.image"
                                :_id="recipe._id"
                        >
                        </RecipeTile>
                    </v-flex>
                    <v-card
                            v-if="!current.length"
                            key="empty"
                            class="no-results"
                            flat
                            tile
                    >
                        <v-card-text class="display-1 pt-5">
                            No results
                        </v-card-text>
                    </v-card>
                </transition-group>
            </v-flex>
            <v-footer
                    fixed
                    dark
                    height="48"
                    class="flex justify-center"
            >
                <v-pagination
                        color="green accent-4"
                        :length="Math.ceil(recipes.length / visibleRecipes)"
                        v-model="currentPage"
                />
            </v-footer>
            <v-speed-dial
                    class="fab--position-fix"
                    v-model="fab"
                    bottom
                    right
                    direction="top"
                    transition="slide-x-reverse-transition"
                    fixed
            >
                <v-btn
                        slot="activator"
                        color="green accent-4"
                        dark
                        fab
                        v-model="fab"
                >
                    <v-icon class="d-flex">more_horiz</v-icon>
                    <v-icon class="d-flex">close</v-icon>
                </v-btn>
                <v-tooltip left>
                    <v-btn
                            color="red accent-3"
                            dark
                            small
                            fab
                            slot="activator"
                    >
                        <v-icon class="d-flex">add</v-icon>
                    </v-btn>
                    <span>Add new recipe</span>
                </v-tooltip>
                <v-tooltip left>
                    <v-btn
                            color="purple accent-3"
                            dark
                            small
                            fab
                            @click="searchPanel = true"
                            slot="activator"
                    >
                        <v-icon class="d-flex">search</v-icon>
                    </v-btn>
                    <span>Search</span>
                </v-tooltip>
                <v-tooltip left>
                    <v-btn
                            color="yellow darken-1"
                            dark
                            small
                            fab
                            @click="onlyFavourites = true"
                            slot="activator"
                    >
                        <v-icon class="d-flex">star</v-icon>
                    </v-btn>
                    <span>Only favourites</span>
                </v-tooltip>
            </v-speed-dial>
        </v-layout>
        <v-bottom-sheet
                v-model="searchPanel"
                full-width
                hide-overlay
                persistent
                class="shrink-panel"
        >
            <v-layout row wrap class="grey darken-4 justify-center align-center px-3">
                <v-flex xs11>
                    <v-select
                            placeholder="Search..."
                            chips
                            tags
                            v-model="searchValue"
                            prepend-icon="search"
                            append-icon=""
                            color="purple accent-3"
                            clearable
                            @input="search"
                            @keyup.escape="resetFiltering('search')"
                    >
                        <template slot="selection" slot-scope="data">
                            <v-chip
                                    close
                                    @input="remove(data.item)"
                                    :selected="data.selected"
                                    small
                            >
                                <strong>{{ data.item }}</strong>
                            </v-chip>
                        </template>
                    </v-select>
                </v-flex>
                <v-btn
                        icon
                        right
                        class="dropdown-icon purple--text-hover text--accent-3 transition-fix d-flex"
                        @click="searchPanel = false"
                >
                    <v-icon x-large>arrow_drop_down</v-icon>
                </v-btn>
            </v-layout>

        </v-bottom-sheet>
        <v-snackbar
                :timeout="0"
                top
                v-model="resetSnackbar"
                class="custom-snackbar"
        >
            <span class="body-2 ml-3">Cancel recipe filtering</span>
            <v-btn
                    icon
                    @click="resetFiltering('all')"
                    class="snackbar-button ma-0"
            >
                <v-icon>close</v-icon>
            </v-btn>
        </v-snackbar>

    </v-container>
</template>

<script>
  import RecipeTile from './RecipeGrid/RecipeTile'

  export default {
    name: 'recipe-view',
    components: {RecipeTile},
    computed: {
      current () {
        return this.recipes.slice((this.currentPage - 1) * this.visibleRecipes, this.currentPage * this.visibleRecipes)
      },
      resetSnackbar () {
        return !this.searchPanel && (this.searchValue.length || this.onlyFavourites)
      }
    },
    methods: {
      resetFiltering (option) {
        if (option === 'search') {
          this.searchValue = ''
          this.searchPanel = false
        }
        if (option === 'all') {
          this.onlyFavourites = false
          this.resetSnackbar = false
          this.searchValue = ''
          this.searchPanel = false
        }
      },
      fetch (query) {
        this.$db.find(query, (err, recipes) => {
          if (recipes) {
            this.recipes = recipes
          } else {
            console.error(err)
          }
        })
      },
      search () {
        // Match at the beginning, inside or at the end of the word
        let regex = new RegExp(this.searchValue.map((item) => {
          return '(?=.*\\B' + item + '|' + item + '|' + item + '\\B)'
        }).join(''), 'i')
        let query = {
          $or: [
            {title: {$regex: regex}},
            {tags: {$regex: regex}}
          ]
        }
        this.fetch(query)
      },
      remove (item) {
        this.searchValue.splice(this.searchValue.indexOf(item), 1)
        this.searchValue = [...this.searchValue]
      }
    },
    data: () => ({
      fab: false,
      searchPanel: false,
      currentPage: 1,
      visibleRecipes: 18,
      recipes: [],
      searchValue: '',
      onlyFavourites: false,
      resetFilteringShown: false
    }),
    created () {
      this.fetch()
    }
  }
</script>

<style scoped lang="scss">
    .fade-transition {
        &-leave-active {
            display: none;
        }

        &-leave-active, &-enter-active {
            transition: opacity 1s cubic-bezier(0.4, 0.0, 0.2, 1);
        }

        &-enter, &-leave-to {
            opacity: 0;
        }
    }

    .fab--position-fix {
        z-index: 3;
        bottom: 12px;
    }

    .dropdown-icon {
        top: -5px;
        transform: scale(1.2);
        left: 0;
    }

    .recipe-view {
        height: calc(100vh - 108px);
        overflow-y: scroll;
        padding-bottom: 125px;
    }

    .no-results {
        position: absolute;
        background: transparent;
    }

    .shrink-panel {
        height: 48px;
    }

    .global-reset {
        z-index: 3;
        top: 12px;

        &.hidden {
            opacity: 0;
        }
    }

    .custom-snackbar > div {
        width: 150px;
        background: red;
    }

    .snackbar-button {
        flex: 0 0 40px;
        height: 40px;
    }
</style>