<template>
    <v-card tile flat :img="image" class="scale">
        <router-link :to="'/view/' + _id">
            <div class="placeholder"></div>
        </router-link>
        <v-card-actions class="recipe-title">
            <router-link
                    tag="a"
                    :to="'/view/' + _id"
                    class="title white--text ml-4"
            >
                {{ title }}
            </router-link>
            <v-spacer/>
            <v-btn flat icon class="mr-2 red--text-hover text--accent-3 transition-fix">
                <v-icon>edit</v-icon>
            </v-btn>
            <v-btn flat icon :color="favourite ? 'yellow darken-1' : 'white'" class="mr-2 transition-fix yellow--text-hover text--darken-1">
                <v-icon>star</v-icon>
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
  export default {
    props: ['title', 'favourite', 'image', '_id'],
    name: 'recipe-tile'
  }
</script>

<style scoped lang="scss">
    .recipe-title {
        background: rgba(0, 0, 0, 0.45);
    }

    .scale {
        filter: saturate(1);
        transition: filter .2s cubic-bezier(0.4, 0.0, 0.2, 1);

        &:hover {
            filter: saturate(1.2);
        }
    }

    .placeholder {
        height: 250px;
    }
</style>