<template>
    <v-container
            fluid
            fill-height
            grid-list-xs
            pa-0
    >
        <v-layout
                row
                wrap
                justify-center
        >
            <v-flex xs12>
                <v-card tile :img="recipe.image" disabled class="on-hover">
                    <v-card-actions class="scrim-top">
                        <v-btn flat icon class="mr-2" @click="$router.go(-1)">
                            <v-icon>arrow_back</v-icon>
                        </v-btn>
                        <v-spacer/>
                        <v-btn flat icon class="mr-2">
                            <v-icon>edit</v-icon>
                        </v-btn>
                        <v-btn flat icon :color="recipe.favourite ? 'yellow' : 'white'" class="mr-2">
                            <v-icon>star</v-icon>
                        </v-btn>
                    </v-card-actions>
                    <div class="placeholder"></div>
                    <v-card-title primary-title class="scrim-bottom text-center">
                        <h1 class="display-2 recipe-title">{{ recipe.title }}</h1>
                    </v-card-title>
                </v-card>
                <v-container pt-4>
                    <v-layout row wrap justify-center>
                        <v-flex xs3 lg4 mx-4>Tu bedo ingridientsy</v-flex>
                        <v-flex xs7 lg6>Direkszyns</v-flex>
                    </v-layout>
                </v-container>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
  export default {
    name: 'recipe-view',
    props: ['id'],
    data: () => ({
      recipe: null
    }),
    created () {
      this.$db.findOne({_id: this.id}, (err, recipe) => {
        if (recipe) {
          this.recipe = recipe
          console.log(this.id)
        } else {
          console.error(err)
        }
      })
    }
  }
</script>

<style scoped lang="scss">
    .scrim-bottom {
        background: rgba(0, 0, 0, 0.45);
        text-shadow: 0 0 50px black;
    }

    .scrim-top {
        background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    }

    .on-hover {
        .scrim-top {
            transition: transform .2s cubic-bezier(0.4, 0.0, 0.2, 1);
            transform: translateY(-100px);
        }

        &:hover .scrim-top {
            transform: translateY(0px);
        }
    }

    .recipe-title {
        width: 100%;
        text-align: center;
    }

    .placeholder {
        height: 220px;
    }
</style>