<template>
    <div id="app">
        <v-app dark>
            <v-navigation-drawer
                    class="grey darken-4"
                    fixed
                    clipped
                    temporary
                    v-model="isMenuVisible"
                    app
            >
                <v-list>
                    <v-list-tile
                            router
                            :to="item.to"
                            :key="i"
                            v-for="(item, i) in menu"
                            exact
                            ripple
                            :active-class="color(item.color.shade, item.color.type, item.color.value, false)"
                            :class="color(item.color.shade, item.color.type, item.color.value, true)"
                    >
                        <v-list-tile-action>
                            <v-icon v-html="item.icon"/>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title v-text="item.title"/>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-navigation-drawer>

            <v-toolbar fixed app clipped-left dark height="58">
                <v-toolbar-side-icon class="cyan--text-hover text--accent-3 transition-fix" :class="isMenuVisible ? 'cyan--text' : ''" @click.native.stop="isMenuVisible = !isMenuVisible"/>
                <v-toolbar-title v-text="title"/>
                <v-spacer/>
            </v-toolbar>
            <v-content>
                <transition name="fade-transition" :duration="{enter: 300, leave: 200}">
                    <router-view/>
                </transition>
            </v-content>
        </v-app>
    </div>
</template>

<script>
  import RecipeView from '@/components/RecipeGrid'

  export default {
    name: 'KukBuk',
    components: {
      RecipeView
    },
    computed: {
      menu () {
        return this.$store.getters['getMenu']
      }
    },
    methods: {
      color (shade, type, value, hover) {
        let cssClass = shade + '--text'
        if (hover) {
          cssClass += '-hover'
        }
        cssClass += ' text--' + type + '-' + value
        return cssClass
      }
    },
    data: () => ({
      isMenuVisible: false,
      title: 'Cooky'
    })
  }
</script>

<style lang="stylus">
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
    @import '~vuetify/src/stylus/settings/_colors.styl'
    /* Global CSS */
    /* Adjusted code from Vuetify for hover effect */
    hover-color(color_name, color_value)
        .{color_name}-hover:hover
            background-color: color_value !important
            border-color: color_value !important

        .{color_name}--text-hover
            transition: color 0.1s ease-in-out
            &:hover
                color: color_value !important

            input,
            textarea
                caret-color: color_value !important

    hover-color-accent(color_name, color_value)
        .{color_name}
            &.{color_type}-hover:hover
                background-color color_value !important
                border-color: color_value !important

        .{color_name}--text-hover
            &.text--{color_type}:hover
                transition: color 0.1s ease-in-out
                color: color_value !important

                input,
                textarea
                    caret-color: color_value !important

    for color_name, color_value in $shades
        hover-color(color_name, color_value)

    for color_name, color_color in $colors
        for color_type, color_value in color_color
            if color_type == 'base'
                hover-color(color_name, color_value)

            else if color_type != 'shades'
                hover-color-accent(color_name, color_value)

    .transition-fix
        i.icon, .btn__content:before
            transition: all 0s ease-in-out
            transition-delay: 0s

    a
        text-decoration: none

    html
        overflow: hidden

    ::-webkit-scrollbar
        width: 10px

    ::-webkit-scrollbar-track
        background-color: rgba(255, 255, 255, 0.3)

    ::-webkit-scrollbar-thumb
        background-color: rgba(0, 0, 0, 0.4)

</style>

<style scoped>
    .list__tile__action:first-of-type .icon {
        color: inherit !important;
    }
</style>